<h2>Forma</h2>

<form action="{% url 'rss:index' %}" method="POST">{% csrf_token %}
	<ul>
		{{ form.as_ul }}
	</ul>
	<input type="submit" value="Unos" />
</form>
<form action="{% url 'rss:word' %}">
	<input type="submit" value="Spremi sve feedove" />
</form>
	
<h2>Lista</h2>

{% if feed_list %}
	<ul>
	{% for feed in feed_list %}
		<li>{{ feed.link }} - {% if feed.status == 1 %}aktivan{% elif feed.status == 0 %}nije aktivan{% else %}error{% endif %} --- <a href="{% url 'rss:update' feed.pk %}">EDIT</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>Lista je prazna!</p>
{% endif %}

{% if is_paginated %}
<div class="pagination">
	<span class="links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ page_obj.number }} of {{ paginator.num_pages }}
		</span>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
{% endif %}